.container__site__completo{
    width: 100%;
    min-height: 1200px;
}

.section__entre__em__contato{
    width: 1110px;
    height: 356px;

    padding: 48px 0px;

    display: flex;
    justify-content: space-between;

    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.section__entre__em__contato h2{
    width: 350px;
    height: 42px;
}

.section__entre__em__contato__text__area{
    width: 635px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section__contato__forms__geral{
    width: 1110px;
    height: 426px;

    display: flex;
    justify-content: space-between;
}

.section__contato__forms__geral h2{
    width: 350px;
    height: 42px;
}

.section__contato__forms__area{
    width: 635px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.section__contato__input__area {
    width: 100%;
    height: 86px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}