.container__site__completo{
    width: 100%;
    min-height: 1900px;
}

.section__apresentacao{
    height: 600px;
    background-image: url('../../assets/home/image-homepage-hero.jpg');
    background-size: 100%;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.section__apresentacao__boas__vindas{
    width: 445px;
    height: 357px;
    background-color: #fafafa;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section__apresentacao .section__apresentacao__boas__vindas h1{
    position: relative;
    width: 390px;
    height: 200px;
    left: 6.07%;
    right: 6.29%;
    top: calc(50% - 200px/2 - 22.5px);
}



.section__sobre__mim{
    height: 601px;

    display: flex;

}

.section__sobre__mim img{
    width: 50%;
    height: 100%;
}

.section__sobre__mim__text__area{
    margin-left: 140px;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
    
}