.container__site__completo{
    width: 100%;
    min-height: 2500px;
}

.section__preview__bookmark{
    width: 1110px;
    height: 500px;
    /* border: 1px solid red; */
}

.section__preview__bookmark img{
    width: 100%;
    height: 100%;
}

.section__bookmark__detalhes{
    width: 1110px;
    height: 1192px;
    /* border: 1px solid red; */

    display: flex;
    justify-content: space-between;
}

.section__bookmark__left{
    width: 350px;
    height: 498px;

    padding: 48px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bookmark__links{
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: none;
    color: #5fb4a2;
}

.section__bookmark_geral{
    width: 635px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section__bookmark_geral p{
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}